/** @format */

$white: #fff;
$nav-background: #f8f9fa;
$footer-background: #343a40;
$footer-hipster: #ced4da;
$footer-links: #0393f2;
$nav-links: #848585;
$header-card-background: #f0f1f2;
$card-footer-backgrund: $nav-background;
$footer-links-active: #c4cad0;
$font_robo: "Roboto Condensed", sans-serif;
